.Rproj.user
.Rhistory
.RData
.Ruserdata
daily_HiRes_anim.gif
exc_0.1_dur_anim.gif
exc_0.1_int_cum_anim.gif
exc_0.1_int_max_anim.gif
exc_real_dur_anim.gif
exc_real_int_cum_anim.gif
exc_real_int_max_anim.gif
test_anim.gif
exc_inSitu_dur_anim.gif
exc_inSitu_int_cum_anim.gif
exc_inSitu_int_max_anim.gif
exc_0.1_dur_20.gif
exc_0.1_intCum_20.gif
exc_0.1_intMax_20.gif
exc_inSitu_dur_20.gif
exc_inSitu_intCum_20.gif
exc_inSitu_intMax_20.gif
ECKMAX
